/* Collapsing window display settings */

@media screen and (max-width: 767px) {
    #category-menu-list {
        display: none;
    }
    #category-menu-list-collapsing {
        display: inherit;
    }
    .list-group li a:hover {
        color: rgb(77, 77, 77) !important;
    }
    .list-inline li a:hover {
        color: rgb(77, 77, 77) !important;
    }
}


/* Expanded window display settings */

@media screen and (min-width: 768px) {
    #category-menu-list {
        display: inherit;
    }
    #category-menu-list-collapsing {
        display: none;
    }
}

#category-menu-list li a {
    background: none!important;
    border: none;
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(123, 123, 123);
}

.list-group li a:not(.active):hover {
    color: rgb(0, 0, 0) !important;
    padding-left: 0.9rem;
}

.list-inline li a:not(.active):hover {
    transition: all .1s ease-in-out;
    color: rgb(0, 0, 0) !important;
}

#category-menu-list-collapsing li a {
    background: none!important;
    border: none;
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(123, 123, 123);
}

#filter-collapse-label {
    color: rgb(46, 46, 46);
    text-decoration: none;
}

#plus-icon {
    font-size: 10pt;
    font-weight: lighter;
    padding-bottom: 3px;
}

#clear-filters-label {
    color: rgb(123, 123, 123);
    transition: none !important;
    -webkit-transition: none !important;
}

#clear-filters-label:hover {
    color: rgb(201, 6, 6);
    text-decoration: none;
}

#close-icon {
    font-size: 11pt;
    font-weight: lighter;
}

.card * {
    border-radius: 0;
    color: #000 !important;
}

.img-wrapper {
    position: relative;
}

.img-wrapper img {
    transition: all .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
}

.img-overlay {
    /* button goes over image */
    position: absolute;
    /* bottom: 0; */
    margin-top: 1vh;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    /* background: rgba(111, 111, 111, 0.6); */
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 40%;
}

#btn-view-item,
#btn-add-to-cart {
    /* dont display button while not hovering */
    display: none;
    right: 0;
    top: 0;
    transition: all 300ms ease-in-out;
    border-radius: 0;
    background-color: rgb(247, 247, 247) !important;
    color: rgb(92, 92, 92);
    font-size: 16pt;
}

.img-wrapper:hover #btn-view-item {
    /* when hovering, show button and remove blur */
    transition: 300ms ease-in-out;
    display: inline;
    -webkit-filter: 0;
    filter: 0;
}

.img-wrapper:hover #btn-add-to-cart {
    /* when hovering, show button and remove blur */
    transition: 300ms ease-in-out;
    display: inline;
    -webkit-filter: 0;
    filter: 0;
}

#btn-add-to-cart:hover,
#btn-view-item:hover {
    transition: 300ms ease-in-out;
    color: rgb(213, 20, 20) !important;
    padding-right: 3rem;
}

.img-wrapper:hover .img-overlay {
    opacity: 1;
}

.accordion .card {
    background-color: transparent !important;
}

.accordion .card ul {
    background-color: rgb(245, 245, 245) !important;
    margin-left: 0;
    padding-left: 2em;
    border: none;
    list-style: none;
}

.accordion .card ul li button {
    margin-left: 0;
    padding-left: 0.2em;
    border: none;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(97, 97, 97);
}

.accordion .card ul li button:hover {
    color: rgb(77, 77, 77) !important;
    padding-left: 0.9rem;
}

.active {
    transition: none;
    color: rgb(230, 7, 3) !important;
    font-weight: 900 !important;
    font-weight: bold !important;
}

#clear-filters-btn:hover {
    color: rgb(213, 20, 20) !important;
    text-decoration: none;
}

.accordion .card {
    border: none !important;
}

.accordion .card .card-header a h5 {
    color: #000;
    text-decoration: none !important;
    background: none;
}

.accordion .card .card-header a:hover {
    text-decoration: none !important;
}

.accordion .card-body {
    margin: 0 !important;
    padding: 0 !important;
}

.mint {
    color: rgb(76, 114, 88);
}

#cart-icon:active,
#cart-icon:active,
#cart-icon:focus,
#cart-icon:focus,
#cart-icon:hover,
#cart-icon:hover {
    border: none !important;
    outline: none !important;
}