body {
    height: 110vh;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

#image-container {
    padding: 0;
    margin: auto;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

#image-container img {
    width: 100%;
    height: auto;
    object-fit: cover
}

#product-details-aside {
    margin: auto;
    height: 50vh;
}

.btn {
    width: 100% !important;
}

dl,
.btn {
    max-width: 325px;
}

.btn:hover {
    color: #FFF;
    background: #545454;
}

CSS .number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    margin-bottom: 3rem;
}

.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    text-align: center;
}

.number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: .25rem;
}

.number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
}

.number-input.number-input button.minus {
    padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
}

.number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
        .number-input.def-number-input.safari_only button:before, .number-input.def-number-input.safari_only button:after {
            margin-top: -.3rem;
        }
    }
}