{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cloudland | {% block page %}{% endblock page%}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'store/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'store/css/base-styles.css' %}" rel="stylesheet">
    <!-- <link rel="shortcut icon" type="image/png" href="{% static 'store/media/brand/favicon.ico' %}" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Darker Grotesque' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'store/media/brand/favicon.ico' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
    <script src="{% static 'store/js/helper.js' %}"></script>
    <script src="{% static 'store/vendor/jquery/jquery.min.js' %} "></script>
    <script src="{% static 'store/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Allows templates to apply custom styles -->
    {% block styles %}{% endblock styles %}
    <!-- Custom styles for this template -->
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags}} alert-dismissible rounded-0 fade show" role="alert">
        <div {% if message.tags %} class="{{ message.tags }} text-center" {% endif %}>{{ message }}</div>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg sticky-top pl-3">
        <a class="navbar-brand" href="{% url 'store-products-page-all-home' %} ">
            Cloudland
        </a>
        <button id="nav-collapse-icon" class="navbar-toggler navbar-toggler-right mt-3 pb-4" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-hidden="true" Toggle navigation>
            ☰
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive" data-parent="#nav-collapse-icon">
            <ul class="navbar-nav ml-auto">
                {% if user.groups.all.0.name == 'Seller' %}
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'seller-dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'store-products-page-all' %}">Shopping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'store-products-page-all' %}">Shopping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'accounts-dashboard' %}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'store-contact' %} ">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% if user.groups.all.0.name != 'Seller' %}
        <ul class="navbar-nav">
            <li class="">
                <a class="nav-link" href="{% url 'store-cart' %} ">
                    Cart
                    <!-- If cart exists show product count -->
                    {% if request.session.cart_items_total %}
                    <span class="badge badge-pill badge-danger my-auto" id="cart-badge">{{ request.session.cart_items_total }}</span>
                    <!-- If no cart set pill to 0 -->
                    {% else %}
                    <span class="badge badge-pill badge-danger my-auto" id="cart-badge">0</span> {% endif %}
                </a>
            </li>
        </ul>
        {% endif %}
    </nav>
    <div id="top">
        {% block content %} {% endblock content %}
    </div>
</body>
<footer class="site-footer py-5 mt-5">
    <div class="container">
        <div class="col-md-6 justify-content-center">
            <ul class="social-icons">
                <li>
                    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h6>About</h6>
                <p class="text-justify">
                    Cloudland is a platform that allows our sellers to share their creative work - getting your favorites from our hands to yours. With a variety of categories, Cloudland invites you to browse your favorites! Welcome to the clouds, where the sky is the limit.
                </p>
            </div>
            <div class="col-md-3 col-sm-4 col-4">
                <h6>Sellers</h6>
                <ul class="footer-links">
                    {% for seller in sellers %}
                    <li>
                        <a id="{{ seller.slug }}" href="{% url 'store-products-page-filter-category' seller.slug %}">{{ seller.seller_listing_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 col-sm-4 col-4">
                <h6>Categories</h6>
                <ul class="footer-links">
                    {% for category in categories %}
                    <li>
                        <a id="{{ category.slug }}" href="{% url 'store-products-page-filter-category' category.slug %}">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-2 col-sm-4 col-4">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'store-contact' %}">Contact Us</a></li>

                    {% if user.groups.all.0.name == 'Seller' %}
                    <li><a href="{% url 'seller-dashboard' %}">My Dashboard</a></li>
                    {% else %}
                    <li><a href="{% url 'accounts-dashboard' %}">My Dashboard</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by Cloudland.</p>
            </div>
        </div>
    </div>
</footer>


</html>