<!-- Extends base template  -->
{% extends "store/base.html" %}
<!-- Loads static content to access content in static directory -->
{% load static %}
<!-- Crispy forms for styling -->
{% load crispy_forms_tags %}
<!-- Page title for window tab -->
{% block page %}Contact{% endblock page%}
<!-- Custom style sheet -->
{% block styles %}
<link href="{% static 'store/css/contact-styles.css' %}" rel="stylesheet">{% endblock styles %}
<!-- fills content block in base template -->
{% block content %}
<div class="container" style="min-height: 100vh;">
    <h2 class="h1-responsive text-center my-4">Contact us</h2>
    <div class="col-md-8 m-auto text-left">
        <hr>
        <h5>
            Interested in selling in Cloudland? Let us know! <br> We are always looking for creative hand-made designers who need a platform to share their work!
        </h5>
        <br>
        <h5>
            If you would like to contact one of our sellers, please go to our About page to find contact information.
        </h5>
        <br>
        <h5>Let us know how we can improve and what we are doing well!</h5>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8 m-auto">
            <form id="contact-form" name="contact-form" method="POST">
                {% csrf_token %} {{ form | crispy }}
                <br>
                <button type="submit" id="btn-send-contact-form" class="btn float-right">SEND</button>
            </form>
        </div>
    </div>
    <br>
</div>
{%endblock content %}