<!-- Extends base template  -->
{% extends "store/base.html" %}
<!-- Crispy forms for styling -->
{% load crispy_forms_tags %}
<!-- Loads static content to access content in static directory -->
{% load static %}
<!-- Page title for window tab -->
{% block page %}Shop{% endblock page%}
<!-- Custom page styles -->
{% block styles %}
<link href="{% static 'store/css/view-item-styles.css' %}" rel="stylesheet">{% endblock styles %}
<!-- fills content block in base template -->
{% block content %}
<div class="container" style="min-height: 100vh;">
    <h1 class="my-2">{{ product.product_name }} <small class="text-muted" style="font-size: 0.5em;"> by {{ product.seller.seller_listing_name }} </small></h1>
    <div class="row">
        <div class="col-md-7" id="image-container">
            <div class="img-container">
                <img src="{{ product.product_image.url }}" alt="Product image">
                <div class="overlay" id="enlarge">
                    <span><h3>Click to enlarge</h3></span>
                </div>
            </div>
            <!-- Creates the bootstrap modal where the image will appear -->
            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">{{ product.product_name }} Preview</h4>
                            <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times" aria-hidden="true"></i><span class="sr-only">Close</span></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ product.product_image.url }}" id="imagepreview">
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $("#enlarge").on("click", function() {
                    $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
                });
            </script>
        </div>
        <div class="col-md-5">
            <h1><b>${{ product.price }}</b><small class="text-muted" style="font-size: 0.5em;"> + shipping</small></h1>
            <h3 class="mt-3">Description</h3>
            <p class="mt-1 mb-5">{{ product.description_short }}</p>

            <!-- If qauntity == 5 change from plural -->
            {% if product.quantity > 5%}
            <h4 class="text-success">{{ product.quantity }} Items Remaining</h4>
            <h6 class="text-danger">{{total_carts_count}}</h6>
            {% else %}
            <!-- If qauntity == 1 change from plural -->
            {% if product.quantity == 1 %}
            <h4 class="text-danger">{{ product.quantity }} Item Remaining</h4>
            <h6 class="text-danger">{{total_carts_count}}</h6>
            {% else %}

            <!-- If Quantity == 0 -->
            {% if product.quantity == 0 %}
            <h4 class="text-danger">Out of Stock</h4>
            {% else %}
            <h4 class="text-danger">{{ product.quantity }} Items Remaining</h4>
            <h6 class="text-danger">{{total_carts_count}}</h6>
            <!-- ./end nested if -->
            {% endif %}
            <!-- ./end nested if -->
            {% endif %}
            <!-- ./end if -->
            {% endif %}

            <!-- If in stock show cart and quantity selection -->
            {% if product.quantity != 0 %}
            <div class="row">
                <div class="col-4">
                    <dl class="param param-inline">
                        <dt>Quantity: </dt>
                        <dd>
                            <select class="form-control form-control-sm rounded-0" onChange="getSelectedQuantity(this);">
                            {% for i in qaunt_available %} 
                            <option value='{{ i }}'> {{ i }} </option>
                            {% endfor %}
                            </select>
                        </dd>
                    </dl>
                </div>
                <div class="col-8">
                    <div>
                        {% if user.groups.all.0.name == 'Seller' %}
                        <!-- If seller -->
                        <button class="btn border-0 rounded-0 mt-4 disabled" id="btn-add-to-cart">
                            ADD TO CART
                        </button>
                        <!-- If not seller -->
                        {% else %}
                        <!-- Form to add product to cart -->
                        <form method="post" action="{% url 'add_to_cart' product.product_id %}">
                            {% csrf_token %}
                            <input type="hidden" id="selected_quantity" name="selected_quantity" value="1">
                            <button type="submit" class="btn border-0 rounded-0 mt-4" id="btn-add-to-cart">
                                ADD TO CART
                            </button>
                        </form>
                        <!-- ./endif -->
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-4">
                    <dl class="param param-inline">
                        <dt>Quantity: </dt>
                        <dd>
                            <select class="form-control form-control-sm rounded-0">
                                <option value='0'> 0 </option>
                            </select>
                        </dd>
                    </dl>
                </div>
                <div class="col-8">
                    <button type="submit" class="btn border-0 rounded-0 mt-4 disabled" id="btn-add-to-cart" id="hidden-button">ADD TO CART</button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="col-md-12 ml-0 pl-0">
        <h1>Details</h1>
        <p>{{ product.description_full }}</p>
        <br>
        <h1>Shipping</h1>
        <div class="col-md-10 ml-0 pl-0">
            <table class="table table-borderless ">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Estimated Delivery</th>
                        <th scope="col">Product Shipping</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Standard Ground</td>
                        <td>5-10 business days</td>
                        <td>${{ product.shipping_cost }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <small>
            **Sellers ship products individually. Products in a single order will arrive seperately and shipping time may vary.
        </small>
        <br>
        <h1 class="mt-5">Reviews</h1>
        <div class="col-md-12 ml-0 pl-0">
            {% for review in reviews %}
            <div class="card p-3 rounded-0" id="{{review.id}}">
                <div class="card-body">
                    <h4 class="card-title"><b>{{ review.subject }}</b></h4>
                    <div class="star-container">
                        {% for i in n %}
                        <!-- star loop -->
                        {% if i >= review.rating %}
                        <span class="fa fa-star empty"></span>
                        <!-- ./ star loop -->
                        {% else %}
                        <span class="fa fa-star filled"></span> {% endif %} {% endfor %}
                    </div>
                    <hr>
                    <p class="card-text">{{ review.comment }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Posted by {{ review.user.username }} on {{ review.timestamp }}</h6>
                </div>
            </div>
            {% endfor %}
            <div class="text-center mt-3">
                <div class="btn btn-dark" id="toggle-review-show">Add a Review</div>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-10 m-auto" id='review-form' style="display: none;">
        <!-- <form action="{% url 'post-review' product.product_id %}" method="post"> -->
        <form action="" method="post">
            {% csrf_token %}
            <!-- Rating Stars Box -->
            <section class='rating-widget'>
                <input type="hidden" name="rating" min="0" class="numberinput form-control" required="" id="id_rating">
                <div id="div_id_rating" class="form-group">
                    <label for="id_rating" class="">Star Rating</label>
                    <!-- Rating Stars Box -->
                    <div class='rating-stars form-group'>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            {{ form.subject|as_crispy_field }} {{ form.comment|as_crispy_field }}
            <div class="row" id="review-form-options">
                <div class="col-6">
                    <div class="btn btn-warning" id="cancel-review">Cancel</div>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-success" id="post-review">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function getSelectedQuantity(sel) {
        document.getElementById("selected_quantity").value = sel.options[sel.selectedIndex].value;
    }
    $(document).ready(function() {
        /* 1. Visualizing things on Hover - See next part for action on click */
        $('#stars li').on('mouseover', function() {
            var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

            // Now highlight all the stars that's not after the current hovered star
            $(this).parent().children('li.star').each(function(e) {
                if (e < onStar) {
                    $(this).addClass('hover');
                } else {
                    $(this).removeClass('hover');
                }
            });

        }).on('mouseout', function() {
            $(this).parent().children('li.star').each(function(e) {
                $(this).removeClass('hover');
            });
        });


        /* 2. Action to perform on click */
        $('#stars li').on('click', function() {
            var onStar = parseInt($(this).data('value'), 10); // The star currently selected
            var stars = $(this).parent().children('li.star');

            for (i = 0; i < stars.length; i++) {
                $(stars[i]).removeClass('selected');
            }

            for (i = 0; i < onStar; i++) {
                $(stars[i]).addClass('selected');
            }

            var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
            hidden_val = $('#id_rating').val(ratingValue);
            var msg = "";
            if (ratingValue > 1) {
                msg = "Thanks! You rated this " + ratingValue + " stars.";
            } else {
                msg = "We will improve ourselves. You rated this " + ratingValue + " stars.";
            }
            responseMessage(msg);
        });
    });

    function responseMessage(msg) {
        $('.success-box').fadeIn(200);
        $('.success-box div.text-message').html("<span>" + msg + "</span>");
    }

    // Show review form
    $('#toggle-review-show').click(function() {
        $('#review-form').fadeIn(500);
        $(this).hide();
    });

    // Hide review form
    $('#cancel-review').click(function() {
        $('#review-form').hide();
        $('#toggle-review-show').show();
    });
</script>
{% endblock content %}