li {
    list-style: none !important;
}

#plus-icon {
    font-size: 14pt;
    font-weight: lighter;
    padding-bottom: 3px;
    transition: all 0s;
}

.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

#toggle-form {
    color: rgb(84, 84, 84) !important;
}

#toggle-form :hover {
    color: rgb(0, 0, 0) !important;
}

#shipping-form,
#billing-form {
    display: none;
}