body {
    padding-top: 2vh;
    font-family: 'Darker Grotesque' !important;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important; */
    height: 100vh;
}

.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover {
    border: none !important;
    outline: none !important;
}

form {
    background-color: transparent;
}

.navbar {
    background-color: rgb(255, 255, 255);
    color: #000 !important;
}

.navbar-toggler:active {
    outline: none;
}

.navbar .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    position: absolute;
}

.navbar .navbar-brand img {
    width: 200px;
    height: auto;
}

.navbar .nav-item {
    top: 10px;
}

.navbar a {
    color: #000 !important;
}

#cart-icon {
    margin-top: 0.25em;
}

#cart-badge {
    float: right;
    margin-left: 0.5em;
    margin-top: 0.35em;
}

.body-content-buffer {
    margin-top: 5vh;
}

.card {
    border-radius: 0;
}

#product-name {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

#product-description {
    margin-top: -.5em;
}

#item-number {
    margin: -0.75em 0 .6em 0;
    font-size: 0.8em;
}

#card-add-to-cart-icon {
    margin: 0 auto;
    margin-top: -3em;
    color: #000;
}

footer {
    background-color: rgb(26, 26, 26);
    padding: 0;
}