body {
    height: 110vh;
    margin: 0;
    padding: 0;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    max-width: 50rem;
}

#product-image {
    width: 100%;
    height: auto;
}

#btn-add-to-cart {
    border-radius: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

#btn-add-to-cart:hover {
    background-color: rgb(70, 70, 70);
}

footer {
    margin-top: 40vh;
    width: 100%;
    background-color: rgb(26, 26, 26);
    padding: 0;
}