{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stitch | {% block page %}{% endblock page%}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'store/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'store/css/base-styles.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Darker Grotesque' rel='stylesheet'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'store/js/helper.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Allows templates to apply custom styles -->
    {% block styles %}{% endblock styles %}
    <!-- Custom styles for this template -->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md sticky-top">
        <a class="navbar-brand" href="{% url 'store-home' %} ">
            <img src="{% static 'store/media/brand/stitch-logo.jpg' %}" alt="Stitch logo">
        </a>
        <button class="navbar-toggler navbar-toggler-right mt-2" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-hidden="true" Toggle navigation>
            ☰
        </button>
        <div class="collapse navbar-collapse " id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'store-products-page-all' %} ">Shopping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'store-contact' %} ">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'store-cart' %} "><span class="badge badge-pill badge-danger" id="cart-badge">{{ request.session.cart_items_total }}</span>
                        <i class="fa fa-shopping-cart" id="cart-icon"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %} {% endblock content %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'store/vendor/jquery/jquery.min.js' %} "></script>
    <script src="{% static 'store/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

</body>
<!-- Footer -->
<footer class="py-5 ">
    <p class="m-0 text-center text-white ">Copyright &copy; Your Website 2019</p>
    <!-- /.container -->
</footer>

</html>