<!-- Extends base template  -->
{% extends "store/base.html" %}
<!-- Loads static content to access content in static directory -->
{% load static %}
<!-- Page title for window tab -->
{% block page %}Shop{% endblock page%}
<!-- Custom page styles -->
{% block styles %}
<link href="{% static 'store/css/products-page-styles.css' %}" rel="stylesheet">{% endblock styles %}
<!-- fills content block in base template -->
{% block content %}
<div class="container body-content-buffer">
    <!-- Filter display when window is wide and nothing is collapsed -->
    <div id="category-menu-list">
        <!-- Additional filter drop down -->
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-9">
                            <h4><b>Shop by Category</b></h4>
                            <ul class="list-inline text-left" id="category-menu-items">
                                <li class="list-inline-item">
                                    <a id="category_All" href="{% url 'store-products-page-all' %}">All</a>
                                </li>
                                {% for category in categories %}
                                <li class="list-inline-item">
                                    <a id="{{ category.slug }}" href="{% url 'store-products-page-filter-category' category.slug %}">{{ category.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-3 text-right">
                            <h4 class="panel-title text-right text-light pt-2">
                                <a data-toggle="collapse" href="#collapse-filters" id="filter-collapse-label">Filters <li class="fa fa-plus" id="plus-icon"></li></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div id="collapse-filters" class="panel-collapse collapse show" data-parent="filter-collapse-label">
                    <div class="row">
                        <!-- Filter by seller -->
                        <div class="col-3 float-left">
                            <h4><b>Shop by Seller</b></h4>
                            <ul class="list-group" id="category-menu-items" style="list-style-type: none;">
                                {% for seller in sellers %}
                                <li>
                                    <a id="{{ seller.slug}}" href="{% url 'store-products-page-filter-seller' seller.slug %}">{{ seller.seller_listing_name | capfirst}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Filter by price -->
                        <div class="col-3 float-left">
                            <h4><b>Shop by Price</b></h4>
                            <ul class="list-group" id="category-menu-items" style="list-style-type: none;">
                                <li><a href="{% url 'store-products-page-filter-price' 0 5 %}" id="price_0-5">$0.00 - $5.00</a></li>
                                <li><a href="{% url 'store-products-page-filter-price' 5 10 %}" id="price_5-10">$5.00 - $10.00</a></li>
                                <li><a href="{% url 'store-products-page-filter-price' 10 15 %}" id="price_10-15">$10.00 - $15.00</a></li>
                                <li><a href="{% url 'store-products-page-filter-price' 15  %}" id="price-15">$15.00+</a></li>
                            </ul>
                        </div>
                        <!-- Order by -->
                        <div class="col-3 float-left">
                            <h4><b>Order By</b></h4>
                            <ul class="list-group" id="category-menu-items" style="list-style-type: none;">
                                <li><a href="{% url 'store-products-order-by' '?' %}" id="?">Default</a></li>
                                <li><a href="{% url 'store-products-order-by' '-date_listed' %}" id="-date_listed">Latest</a></li>
                                <li><a href="{% url 'store-products-order-by' 'price' %}" id="price">Price: low to high</a></li>
                                <li><a href="{% url 'store-products-order-by' '-price' %}" id="-price">Price: high to low</a></li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter display when window is collapsed -->
    <div id="category-menu-list-collapsing">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1" id="filter-collapse-label">Filters <li class="fa fa-plus" id="plus-icon"></li></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse show" data-parent="filter-collapse-label">
                <div class="accordion md-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <!-- Categories card -->
                    <div class="card">
                        <div class="card-header" role="tab" id="categoriesHeading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#categoriesCollapse" aria-expanded="true" aria-controls="categoriesCollapse" id="categories-header">
                                <div class="row">
                                    <div class="col-9">
                                        <h5 class="mb-0" id="collapsed-accordion-label"><b>Categories</b></h5>
                                    </div>
                                    <div class="col-3 text-right text-dark">
                                        <li class="fa fa-plus" id="plus-icon"></li>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="categoriesCollapse" class="collapse" role="tabpanel" aria-labelledby="categoriesHeading" data-parent="#accordion">
                            <ul class="list-group text-left" id="category-menu-items">
                                {% for category in categories %}
                                <li>
                                    <a id="{{category.slug}}" href="{% url 'store-products-page-filter-category' category.slug %}">{{ category.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- Sellers card -->
                    <div class="card">
                        <div class="card-header" role="tab" id="sellerHeading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#sellersCollapse" aria-expanded="true" aria-controls="categoriesCollapse">
                                <div class="row">
                                    <div class="col-9">
                                        <h5 class="mb-0" id="collapsed-accordion-label"><b>Sellers</b></h5>
                                    </div>
                                    <div class="col-3 text-right text-dark">
                                        <li class="fa fa-plus" id="plus-icon"></li>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="sellersCollapse" class="collapse" role="tabpanel" aria-labelledby="sellerHeading" data-parent="#accordion">
                            <ul class="list-group text-left" id="category-menu-items">
                                {% for seller in sellers %}
                                <li>
                                    <a id="{{ seller.slug }}" href="{% url 'store-products-page-filter-seller' seller.slug %}">{{ seller.seller_listing_name | capfirst}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- Prices card -->
                    <div class="card">
                        <div class="card-header" role="tab" id="pricesHeading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#pricesCollapse" aria-expanded="true" aria-controls="pricesCollapse">
                                <div class="row">
                                    <div class="col-9">
                                        <h5 class="mb-0" id="collapsed-accordion-label"><b>Price</b></h5>
                                    </div>
                                    <div class="col-3 text-right text-dark">
                                        <li class="fa fa-plus" id="plus-icon"></li>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="pricesCollapse" class="collapse" role="tabpanel" aria-labelledby="pricesHeading" data-parent="#accordion">
                            <ul class="list-group text-left" id="category-menu-items">
                                <li><a href="{% url 'store-products-page-filter-price' 0 5 %}" id="price_0-5">$0.00 - $5.00</a></li>
                                <li><a href="{% url 'store-products-page-filter-price' 5 10 %}" id="price_5-10">$5.00 - $10.00</a></li>
                                <li><a href="{% url 'store-products-page-filter-price' 10 15 %}" id="price_10-15">$10.00 - $15.00</a></li>
                                <li><a href="{% url 'store-products-page-filter-price' 15 %}" id="price_15">$15.00+</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Order By card -->
                    <div class="card">
                        <div class="card-header" role="tab" id="orderByHeading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#orderByCollapse" aria-expanded="true" aria-controls="pricesCollapse">
                                <div class="row">
                                    <div class="col-9">
                                        <h5 class="mb-0" id="collapsed-accordion-label"><b>Order By</b></h5>
                                    </div>
                                    <div class="col-3 text-right text-dark">
                                        <li class="fa fa-plus" id="plus-icon"></li>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="orderByCollapse" class="collapse" role="tabpanel" aria-labelledby="orderByHeading" data-parent="#accordion">
                            <ul class="list-group text-left" id="category-menu-items">
                                <li><a href="{% url 'store-products-order-by' '?' %}" id="?">Default</a></li>
                                <li><a href="{% url 'store-products-order-by' '-date_listed' %}" id="-date_listed">Latest</a></li>
                                <li><a href="{% url 'store-products-order-by' 'price' %}" id="price">Price: low to high</a></li>
                                <li><a href="{% url 'store-products-order-by' '-price' %}" id="-price">Price: high to low</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <hr>
    <h4 class="text-center"><b class="text-danger">{{ products.count }}</b> Products found | <a href="{% url 'store-products-page-all' %}" class="text-muted" id="clear-filters-btn"> Clear Filters</a></h4>
    <br>
    <!-- If no products in query set display message -->
    {% if products.count == 0 %}
    <br>
    <h2 class="text-center">Oops, we didn't find any products matching your search!</h2>
    {% endif %}
    <div class="row" id="main">
        {% for product in products %}
        <a href="{% url 'store-view-item' product.product_id %}" style="text-decoration: none !important;">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-4 my-auto">
                <div class="card h-100 rounded-0 border-0 product-card">
                    <div class="img-wrapper">
                        <div class="image">
                            <!-- Load first 10 images right away -->
                            {% if forloop.counter > 10 %}
                            <!-- The images after the first 10 are loaded when the page is scrolled -->
                            <img class="card-img-top rounded-0 img-responsive lazy" data-src="{{ product.product_image.url }}" id="card-image" alt="Product Image">
                            <!--  -->
                            {% else %}
                            <img class="card-img-top rounded-0 img-responsive" src="{{ product.product_image.url }}" id="card-image" alt="Product Image">
                            <!--  -->
                            {% endif %}
                        </div>
                        <div class="img-overlay">
                            <div class="btn" id="btn-view-item">VIEW</div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            <a id="product-name">{{ product.product_name }}</a>
                        </h4>
                        <p id="seller-name">// {{product.seller.seller_listing_name }} //</p>
                        <p class="card-text" id="product-description">{{ product.description_short }}</p>
                        <h5 id="product-price">${{ product.price | floatformat:2 }}</h5>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% for a in active %}
    <!-- Hioghlights active filters by adding .active class -->
    <script>
        var activeFilterID = "{{a}}";
        var activeElement = document.getElementById(activeFilterID);
        activeElement.classList.add("active");
    </script>
    {% endfor %}
    <!-- Lazy loading script -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var lazyloadImages = document.querySelectorAll("img.lazy");
            var lazyloadThrottleTimeout;

            function lazyload() {
                if (lazyloadThrottleTimeout) {
                    clearTimeout(lazyloadThrottleTimeout);
                }

                lazyloadThrottleTimeout = setTimeout(function() {
                    var scrollTop = window.pageYOffset;
                    lazyloadImages.forEach(function(img) {
                        if (img.offsetTop < (window.innerHeight + scrollTop)) {
                            img.src = img.dataset.src;
                            img.classList.remove('lazy');
                        }
                    });
                    if (lazyloadImages.length == 0) {
                        document.removeEventListener("scroll", lazyload);
                        window.removeEventListener("resize", lazyload);
                        window.removeEventListener("orientationChange", lazyload);
                    }
                }, 20);
            }

            document.addEventListener("scroll", lazyload);
            window.addEventListener("resize", lazyload);
            window.addEventListener("orientationChange", lazyload);
        });
    </script>
</div>
{% endblock content %}