.card {
    border-radius: 0;
}

.img-wrapper {
    position: relative;
}

.img-wrapper img {
    transition: all .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
}

.img-overlay {
    /* button goes over image */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 40%;
}

.img-wrapper #btn-view-item {
    /* dont display button while not hovering */
    display: none;
}

.img-wrapper:hover #btn-view-item {
    /* when hovering, show button and remove blur */
    display: inline;
    -webkit-filter: 0;
    filter: 0;
    color: #FFF;
}

#btn-view-item {
    height: 20%;
    width: 30%;
    border-radius: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: #FFF;
}