<!-- Extends base template  -->
{% extends "store/base.html" %}
<!-- Loads static content to access content in static directory -->
{% load static %}
<!-- Page title for window tab -->
{% block page %}Dashboard{% endblock page%}
<!-- Custom style sheet -->
{% block styles %}
<link href="{% static 'sellers/css/dashboard-styles.css' %}" rel="stylesheet"> {% endblock styles %}
<!-- fills content block in base template -->
{% block content %}
<div class="container">
    <div class="my-4 text-center">
        <h2 class="text-success">Welcome {{ user.first_name }}!</h2>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-12 order-md-1">
            <!-- PRODUCT MANAGER -->
            <h3 class="my-2 text-center">My Product Manager</h3>
            <div class="row justify-content-end mx-1">
                <h5>
                    <a class="btn btn-secondary btn-sm mx-1" href="{% url 'store-products-page-filter-seller' seller.slug %}">View all my products in Store</a>
                </h5>
                <h5>
                    <a class="btn btn-success btn-sm" href="{% url 'add-product' %}">Add New Product</a>
                </h5>
            </div>
            <table class="table">
                <thead class="thead thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"><b>Name</b></th>
                        <th scope="col"><b>Price</b></th>
                        <th scope="col"><b>Shipping</b></th>
                        <th scope="col"><b>Quantity</b></th>
                        <th scope="col"><b>Actions</b></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td id="image-col">
                            <div class="product-image text-center my-2">
                                <img src="{{ product.product_image.url }}" />
                            </div>
                        </td>
                        <td>
                            <a href="{% url 'edit-product' product.product_id %}">
                                <b class="product-name">{{ product.product_name }}</b>
                            </a>
                        </td>
                        <td class="product-price">${{ product.price }}</td>
                        <td class="product-shipping">${{ product.shipping_cost }}</td>
                        <td class="">
                            <div class="text-left pl-4">
                                {{ product.quantity }}
                            </div>
                        </td>
                        <td>
                            <a id="actions" href="{% url 'edit-product' product.product_id %}">Edit</a>
                            <br>
                            <a id="actions" target="_blank" href="{% url 'store-view-item' product.product_id %}">View in Store</a>
                            <br>
                            <a href="" id="actions" class="remove-product text-danger" data-toggle="modal" data-target="#exampleModal">
                                Delete <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    <!-- modals to confirm deleting -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title text-uppercase text-danger" id="exampleModalLabel">Confirm deleting this item</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="font-size: 2rem;">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <h5>
                                        Are you sure you want to delete {{ product.product_name }}? This cannot be undone.
                                    </h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <a href="{% url 'delete-product' product.product_id %}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>

            <hr class="my-5">

            <!-- SELLER BIO -->
            <div class="col-lg-6 col-md-8 m-auto">
                <h3 class="my-2 text-center">My Bio</h3>
                <div class="mb-5">
                    <div class="card border-0">
                        <img class="card-img-top" src="{{ seller.profile_picture.url }}" alt="{{ seller.seller_listing_name }} Profile Picture">
                        <div class="card-body text-left">
                            <div class="text-center">
                                <h3 class="card-title mb-0">{{ seller.seller_full_name }}</h3>
                                <h5 class="card-text text-secondary">// {{ seller.seller_listing_name }} //</h5>
                                <h5 class="card-text text-black-50"><i class="fas fa-envelope fa-xs"></i> {{ seller.email }}</h5>
                            </div>
                            <p class="p-2">{{ seller.bio_description }}</p>
                            <div class="text-center">
                                <a href="{% url 'edit-bio' seller.slug %}" class="btn btn-block btn-warning">Edit My Bio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right">
        <a href="{% url 'accounts-logout' %}" class="btn btn-danger mt-5 rounded-0">Logout</a>
    </div>
</div>
{% endblock content %}