<!-- Extends base template  -->
{% extends "store/base.html" %}
<!-- Loads static content to access content in static directory -->
{% load static %}
<!-- Page title for window tab -->
{% block page %}Cart{% endblock page%}
<!-- custom style sheet-->
{% block styles %}
<link href="{% static 'carts/css/shopping-cart-styles.css' %}" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock styles %}

<!-- custom page content -->
{% block content %}
<div class="container">
    <script onload="setCartTotalValues()"></script>

    <br>
    <h1>Shopping Cart</h1>
    <br>
    <div class="shopping-cart">

        <div class="column-labels">
            <label class="product-image">Image</label>
            <label class="product-details">Product</label>
            <label class="product-price">Price</label>
            <label class="product-quantity">Quantity</label>
            <label class="product-removal">Remove</label>
            <label class="product-line-price">Total</label>
        </div>
        {% for item in cart.cartitem_set.all %}
        <div class="product">
            <div class="product-image">
                <img src="{{ item.product.product_image.url }}">
            </div>
            <div class="product-details">
                <div class="product-title">{{ item.product.product_name }}</div>
                <p class="product-description">{{ item.product.description_short }}</p>
            </div>
            <div class="product-price">{{ item.product.price }}</div>
            <div class="product-quantity">{{ item.quantity }}</div>
            <!-- <div class="product-quantity">
                <input type="number" value="1" min="1">
            </div> -->
            <div class="product-removal">

                <!-- Form to get the itemID into view -->
                <form method="post" action="{% url 'remove_from_cart' %}">
                    {% csrf_token %}
                    <button type="submit" class="remove-product" name="get-prod-info{{item.product.product_id}}">
                        Remove
                    </button>
                </form>
            </div>
            <div class="product-line-price">{{ item.line_total }}</div>
        </div>
        {% endfor %}

        <div class="totals">
            <div class="totals-item">
                <label>Subtotal</label>
                <div class="totals-value" id="cart-subtotal"></div>
            </div>
            <div class="totals-item">
                <label>Shipping</label>
                <div class="totals-value" id="cart-shipping"></div>
            </div>
            <div class="totals-item totals-item-total">
                <label>Grand Total</label>
                <div class="totals-value" id="cart-total"></div>
            </div>
        </div>
        <div class="row justify-content-end">
            <a href="{% url 'store-products-page-all' %}">
                <button class="continue-shopping">Continue shopping</button>
            </a>
            <button class="checkout ml-3 btn-success">Checkout</button>
        </div>
    </div>
    <br>
</div>

<script>
    $(document).ready(function() {

        /* Set rates + misc */
        var shippingRate = 5.00;
        var fadeTime = 300;

        /* sets initial cart total values */
        var cartSubtotal = 0;
        $(function() {
            var cartSubtotal = 0;
            $('div.product-line-price').each(function() {
                cartSubtotal += parseFloat(this.innerHTML, 2)
            })

            $('#cart-subtotal').text(cartSubtotal.toFixed(2));
            $('#cart-shipping').text(shippingRate.toFixed(2));
            var cartTotal = cartSubtotal + shippingRate;
            $('#cart-total').text(cartTotal.toFixed(2));
        })

        /* Assign actions */
        $('.product-quantity input').change(function() {
            updateQuantity(this);
        });

        $('.product-removal button').click(function() {
            removeItem(this);
        });


        /* Recalculate cart */
        function recalculateCart() {
            var subtotal = 0;

            /* Sum up row totals */
            $('.product').each(function() {
                subtotal += parseFloat($(this).children('.product-line-price').text());
            });

            /* Calculate totals */
            var shipping = (subtotal > 0 ? shippingRate : 0);
            var total = subtotal + shipping;

            /* Update totals display */
            $('.totals-value').fadeOut(fadeTime, function() {
                $('#cart-subtotal').html(subtotal.toFixed(2));
                $('#cart-shipping').html(shipping.toFixed(2));
                $('#cart-total').html(total.toFixed(2));
                if (total == 0) {
                    $('.checkout').fadeOut(fadeTime);
                } else {
                    $('.checkout').fadeIn(fadeTime);
                }
                $('.totals-value').fadeIn(fadeTime);
            });
        }


        /* Update quantity */
        function updateQuantity(quantityInput) {
            /* Calculate line price */
            var productRow = $(quantityInput).parent().parent();
            var price = parseFloat(productRow.children('.product-price').text());
            var quantity = $(quantityInput).val();
            var linePrice = price * quantity;

            /* Update line price display and recalc cart totals */
            productRow.children('.product-line-price').each(function() {
                $(this).fadeOut(fadeTime, function() {
                    $(this).text(linePrice.toFixed(2));
                    recalculateCart();
                    $(this).fadeIn(fadeTime);
                });
            });
        }


        /* Remove item from cart */
        function removeItem(removeButton) {
            /* Remove row from DOM and recalc cart total */
            var productRow = $(removeButton).parent().parent();
            productRow.slideUp(fadeTime, function() {
                productRow.remove();
                recalculateCart();
            });
        }

    });
</script>
{% endblock content %}