<!-- Extends base template  -->
{% extends "store/base.html" %}
<!-- Loads static content to access content in static directory -->
{% load static %}
<!-- Page title for window tab -->
{% block page %}Dashboard{% endblock page%}
<!-- Custom style sheet -->
{% block styles %}{% endblock styles %}
<!-- fills content block in base template -->
{% block content %}
<div class="container" style="height: 100vh;">
    <h1>Orders for {{ user }}</h1>
    <hr> {% for order in user.order_set.all %}
    <p>{{ order }}</p>
    {% endfor %}
</div>
{%endblock content %}